<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_height="match_parent">

    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="wrap_content">

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical">

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:paddingLeft="5dp"
                android:paddingTop="50dp"
                android:text="Выбор первого пользователя:"
                android:textColor="#877D7D"
                android:textSize="16sp" />

            <Spinner
                android:id="@+id/spinnerSettings"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="#877D7D"
                android:popupBackground="#877D7D">

            </Spinner>

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="50sp" />

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:paddingLeft="5dp"
                android:text="Выбор второго пользователя:"
                android:textColor="#877D7D"
                android:textSize="16sp" />

            <Spinner
                android:id="@+id/spinnerSettings1"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:background="#877D7D"
                android:popupBackground="#877D7D">

            </Spinner>

            <TextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:textSize="50sp" />
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="16sp"
                android:paddingLeft="10dp"
                android:id="@+id/physSettings"
                android:text="Физическая:"
                />
            <com.sasank.roundedhorizontalprogress.RoundedHorizontalProgressBar
                android:id="@+id/progress_bar_1"
                style="?android:attr/progressBarStyleHorizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:indeterminate="false"
                android:maxHeight="12dp"
                android:minHeight="30dp"
                android:progress="0"
                app:backgroundColor="#877D7D"
                app:isRounded="false"
                app:progressColor="#F01700" />
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="16sp"
                android:text="Эмоциональная:"
                android:id="@+id/emSettings"
                android:paddingLeft="10dp"
                />
            <com.sasank.roundedhorizontalprogress.RoundedHorizontalProgressBar
                android:id="@+id/progress_bar_2"
                style="?android:attr/progressBarStyleHorizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:indeterminate="false"
                android:maxHeight="12dp"
                android:minHeight="30dp"
                android:progress="0"
                app:backgroundColor="#877D7D"
                app:isRounded="false"
                app:progressColor="#66FF00" />
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="16sp"
                android:id="@+id/intelSettings"
                android:paddingLeft="10dp"
                android:text="Интеллектуальная:"
                />
            <com.sasank.roundedhorizontalprogress.RoundedHorizontalProgressBar
                android:id="@+id/progress_bar_3"
                style="?android:attr/progressBarStyleHorizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:indeterminate="false"
                android:maxHeight="12dp"
                android:minHeight="30dp"
                android:progress="0"
                app:backgroundColor="#877D7D"
                app:isRounded="false"
                app:progressColor="#2A52BE" />
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textSize="16sp"
                android:paddingLeft="10dp"
                android:id="@+id/allSettings"
                android:text="Общая совместимость:"
                />
            <com.sasank.roundedhorizontalprogress.RoundedHorizontalProgressBar
                android:id="@+id/progress_bar_4"
                style="?android:attr/progressBarStyleHorizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:indeterminate="false"
                android:maxHeight="12dp"
                android:minHeight="30dp"
                android:progress="0"
                app:backgroundColor="#877D7D"
                app:isRounded="false"
                app:progressColor="#D8F3F2" />
        </LinearLayout>
    </ScrollView>

</LinearLayout>